body ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-1 {
  text-align: center;
}
a{
    color: inherit;
    text-decoration: inherit;
}
.menu-1 ul {
    background-color: gray;
}
.menu-1 > ul {
    display: inline-block;
    padding: 0px 10px;
    border-radius: 5px;
}

.menu-1 > ul > li{
    display: inline-block;
    background-color: lightcoral;
   
}
.menu-1 li{
    position: relative;
}
.menu-1 > li >a{
    padding: 10px;
    display: block;
}
.menu-1 > li:hover > a{
    background-color: black;
    color: white;
}
.menu-1 ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
}
.menu-1 li:hover ul{
    display: block;
}
